<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center">
  <mat-card class="box">
    <mat-card-title> Login</mat-card-title>
    <form class="form-exemple">
      <mat-card-content>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Fill form field</mat-label>
            <input matInput placeholder="Placeholder" />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Fill form field</mat-label>
            <input matInput placeholder="Placeholder" type="password" />
          </mat-form-field>
        </p>
        <button
          mat-stroked-button
          color="accent"
          class="btn-block"
          routerLink="/"
        >
          Login
        </button>
      </mat-card-content>
    </form>
  </mat-card>
</div>
