.file {
    height: 40px;
    label {
        font-size: 1rem;
        padding: 10px;
    }

}
mat-card{
    align-items: center;
    justify-content: center;
    width:100%;
    height: 450px;
}
input .atInput { 
    width: 250px;
}


table {
    height: 100%;
    margin-bottom: px;
}
.mat-mdc-paginator {
    margin-bottom: 50px;
}
.mat-mdc-form-field {
    width: 400px;
}