footer {
    background-color: #beb1b1;
    color: #fff;
   font-size: 1.2rem;
   height: 35px;
   align-items: center;
   justify-content: center;
  }
  
  footer:hover {
    opacity: 1;
  }
  .element-footer{
    align-items: center;
    justify-content: center;
  }